.headerComp {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.headerComp span {
  color: #fd6802;
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
}

.header {
  color: #fd6802;
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
}

.menuItems {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.menuItems a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .headerComp {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .headerComp span {
    color: #fd6802;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-size: 10px;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
  }

  .header {
    color: #fd6802;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 0, "XELA" 0, "YELA" 0;
  }

  .menuItems {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
